.git
.expo
android
ios
artifacts
dist
web-build
node_modules
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo

.env
.env.*
!.env.example

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

MOBILE_BACKEND_CATCHUP_PLAN.txt
node_modules.locked_artifact
